#/lib/systemd/system/otnode.service

[Unit]
Description=OriginTrail Node Tester
Documentation=TBC
After=otnode.service graphdb.service blazegraph.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/otnode-tester
ExecStart=/usr/bin/node /root/otnode-tester/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target